# OS
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Node (si un jour on ajoute un build)
node_modules/
dist/

# Fichiers locaux sensibles
.env
.env.local

# Local Netlify folder
.netlify
